/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
  --color_1: rgb(220, 212, 200);
  --color_2: rgb(109, 123, 129);
  --color_3: rgb(153, 166, 171);
  --color_4: rgb(139, 128, 114);
  --color_5: rgb(185, 171, 152);
  --color_6: rgb(235, 229, 221);
  --color_7: rgb(88,85,80);
  --color_8: rgb(60,79,87);
  --color_9: rgb(0,0,0);
  --heading-font-family: "Josefin Sans", sans-serif;
  --default-font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_9);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.row h2 {
  font-size: 54px;
}
#desc{
    color: var(--color_7);
}
h1 {
  font-size: 96px;
  line-height: 1.5px;
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
}
.hero {
  background: var(--color_6);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 20px;
  line-height: 2px;
}
.primaryButton {
  background: var(--color_1);
  font-family: var(--default-font-family);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 20px;
  border: 1px solid var(--color_4);
}
.primaryButton:hover {
  background: var(--color_4);
  color: var(--color_1);
  border-radius: 4px;
  cursor: grab;
  opacity: 50;
}

.hero a {
  color: white;
  text-decoration: none;
}

.secondaryButton {
  color: var(--color_1);
  font-family: var(--default-font-family);
  border-radius: 4px;
  background-color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 20px;
  border: 1px solid var(--color_1);
}
.project-description {
  padding: 60px 0;
}
@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
  .row h2 {
    font-size: 40px;
  }
  .project-description {
    padding: 0;
    text-align: center;
    flex: inline;
  }
}
