:root {
  --color_1: rgb(220, 212, 200);
  --color_2: rgb(109, 123, 129);
  --color_3: rgb(153, 166, 171);
  --color_4: rgb(139, 128, 114);
  --color_5: rgb(185, 171, 152);
  --color_6: rgb(235, 229, 221);
  --color_7: rgb(88, 85, 80);
  --color_8: rgb(60, 79, 87);
  --color_9: rgb(0, 0, 0);
  --heading-font-family: "Josefin Sans", sans-serif;
  --default-font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_9);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h3 {
  font-size: 48px;
}

.content-container h1,
.hero h1 {
  font-size: 56px;
  line-height: 80px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  color: var(--color_8);
  padding: 0;
  margin: 0;
}
.content-container h2 {
  font-size: 38px;
  font-family: var(--default-font-family);
}
.content-container {
  padding: 0px 20px;
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 20px;
}
#desc {
  color: var(--color_7);
  font-size: 20px;
}
h1 {
  font-size: 96px;
  line-height: 1.5px;
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
}
.hero {
  background: var(--color_6);
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2px;
}
.primaryButton {
  background: var(--color_1);
  font-family: var(--default-font-family);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 20px;
  border: 1px solid var(--color_4);
}
.primaryButton:hover {
  background: var(--color_4);
  color: var(--color_1);
  border-radius: 4px;
  cursor: grab;
  opacity: 50;
}

.hero,
.about-section a {
  color: white;
  text-decoration: none;
}

.secondaryButton {
  color: var(--color_1);
  font-family: var(--default-font-family);
  border-radius: 4px;
  background-color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 20px;
  border: 1.5px solid var(--color_1);
}
.secondaryButton:hover {
  color: white;
  font-family: var(--default-font-family);
  border-radius: 4px;
  background-color: var(--color_1);
}
.project-description {
  padding: 60px 0;
}
nav {
  padding: 20px;
}

nav ul {
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-family: var(--default-font-family);
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--color_8);
}
nav a:hover,
nav li.active a {
  color: var(--color_4);
}
nav p {
  line-height: 60px;
  font-size: 26px;
  font-family: var(--default-font-family);
  display: inline;
  opacity: 90%;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--color_4);
}
footer {
  margin: 60px 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--color_4);
  background-color: var(--color_1);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--color_1);
}

footer .contact-box {
  background-color: var(--color_6);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .open-source {
  font-size: 12px;
  color: var(--color_7);
}
footer .open-source a {
  text-decoration-color: var(--color_7);
  color: var(--color_7);
}

@media (max-width: 600px) {
  h1 {
    font-size: 45px;
  }
  .row h2 {
    font-size: 40px;
  }

  .primaryButton {
    font-size: 14px;
  }
  .project-description {
    padding: 0;
    text-align: center;
    flex: inline;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  ul {
    justify-content: space-evenly;
  }
}
